body{
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
.login_box{
	align-content: center;
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 10px 30px;
	border-radius: 10px;
}
.login_box p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.login_box input{
	width:100%;
	margin-bottom: 20px;
}
.login_box input[type="text"], input[type="password"]
{
	border-style: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	font-size: 16px;
	color: white;
	background-color: black;
}
.login_box input[type="button"]
{
	border:none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	background:  #f00045;
}
.login_box input[type="button"]:hover{
	cursor: pointer;
	background:  #44d500;
}
.login_box a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	margin-left:70px;
}
.login_box a:hover{
	color:  #e7ee00;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top:-50px;
	margin-left: calc(50% - 50px)
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}